<form clrForm novalidate #f="ngForm" (ngSubmit)="onSubmit()">
    <clr-modal [(clrModalOpen)]="show" [clrModalSize]="'lg'">
        <div class="modal-title">Edit user</div>

        <div class="modal-body">

            <clr-input-container>
                <label>Info 1:</label>
                <input clrInput type="text" name="firstName" autofocus *ngIf="form" [(ngModel)]="form.name"
                    placeholder="first name" (keypress)="onKeyPress($event)" required>
            </clr-input-container>
            <clr-input-container>
                <label>Info 2:</label>
                <input clrInput type="text" name="lastName" *ngIf="form" [(ngModel)]="form.description"
                    placeholder="last name" (keypress)="onKeyPress($event)" required>
            </clr-input-container>
        </div>

        <div class="modal-footer">
            <button (click)="close()" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">OK</button>
        </div>
    </clr-modal>
</form>